body{
    background-image: url("../images/fondo2.jpg");
    background-size: cover;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.textoProd{
    text-align: left;
    color: #9069a7;
    font-family: 'Lato', sans-serif;
}