body{
    background-image: url("../images/fondo2.jpg");
    background-size: cover;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.textoP{
    text-align: center;
    color: #59bbae;
    font-family: 'Lato', sans-serif;
    font-size: large;
}

.textoProd{
    text-align: left;
    color: #9069a7;
    font-family: 'Lato', sans-serif;
}

.textoProd1{
    text-align: left;
    color: #59bbae;
    font-family: 'Lato', sans-serif;
}

.fondo{
    background-color: #ffffffab;
    margin-top: 20px;
    align-self: stretch;
    padding-left: 7px;
}

.fondo1{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    align-self: center;
    background-color: #ffffffab;
}

.picDetail{
    padding-right: 10px;
    padding-left: 0px;
}

.space{
    margin: 20px;
}

.space1{
    padding-bottom: 20px;
}