body{
    background-image: url("../images/genericas/2883119.jpg");
    background-size: cover;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

h1{
    font-weight: 300;
    font-size: 3rem;
}

.padd{
    padding: 10px;
}

.picDetail1{
    align: center;
    font-family: 'Lato', sans-serif;
    max-height: 250px;
    max-width: 300px;
}

.picDetail2{
    align: center;
    object-fit: fill;
    max-height: 200px;
    max-width: 250px;
}

.fondo{
    background: #E9D4E4;
    margin: 0px;
    padding: 0px;
}

.textoProd{
    text-align: left;
    color: #9069a7;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.back{
    background-color: #ffffffc9;
}