body{
    background-image: url("../images/fondo.jpg");
    background-size: cover;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.btn{
    max-height: 50px;
    max-width: 200px;
    align-self: end;
}

.fondo{
    background: #ffffffc9;
    margin-top: 15px;
    padding: 15px;
}

.picDetail{
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Lato', sans-serif;
    vertical-align: center;
}

.picDetail2{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.card-img-top{
    height: 230px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.card-body{
    max-height: 120px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.card{
    background-color: #E9D4E4;
}

.textoProd{
    text-align: left;
    color: #9069a7;
    font-family: 'Lato', sans-serif;
}

.textoProd1{
    text-align: left;
    color: #9069a7;
    font-family: 'Lato', sans-serif;
    align-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}