body{
    background-image: url("../images/fondo.jpg");
    background-size: cover;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

h1{
    font-weight: 300;
    font-size: 2rem;
}

.cart{
    max-width: 600px;
    background-color: #ffffffab;
    padding-bottom: 15px;
}

.carrito{
    text-align: left;
}

.carrito2{
    text-align: right;
}

.carrito3{
    text-align: right;
    border-top-color: #9069a7;
    border-top: #9069a7;
    border-top-style: solid;
}

.icono{
    padding-top: 10px;
}