body{
    background-image: url("../images/fondo.jpg");
    background-size: cover;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.fondo{
    max-width: 600px;
    background-color: #ffffffab;
}

button{
    margin-bottom: 20px;
}

.pad{
    padding-top: 20px;
    padding-bottom: 20px;
}

.fuente{
    color: #808080;
}

.custom-file{
    margin-top: 15px;
}

