@import url('normalize.css');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

/* barra de navegación */
.Navbar {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.Navbar a {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    color: #9069A7;
}
.Navbar_Logo img {
    width: 170px;
}
.Navbar_Items {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #9069A7;
    font-weight: 300;
    padding: 15px;
}
.Navbar_Link {
    padding: 0px 15px;
    margin: 5px 8px;
}
.Navbar_Toggle {
    color: #9069A7;
    display: none;
}
.Navbar_Items a {
    text-decoration: none;
}

/* main container */
.mainContainer {
    background-image: url('../images/fondo.jpg');
    background-repeat: no-repeat;
    height: 300px;
    background-size: cover;
    background-position: bottom;
    display: flex;
}
.brandContainer {
    margin: auto;
    text-align: center;
    padding: 30px;
}
.logoClaim p {
    font-family: 'Lato', sans-serif;
    color: #9069A7;
    font-weight: 400;
    font-size: 24px;
    margin: 10px;
}
.logoClaim img {
    height: 70px;
}
#searchBarHome {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    margin: auto;
}
#searchBarHome2 {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    margin: auto;
}
#searchBarHome form {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
#searchBarHome input {
    border: hidden;
    width: 100%;
    font-family: 'Lato', sans-serif;
    color: #9069A7;
    font-weight: 300;
}
#searchBarHome button {
    background-color: transparent;
    border: hidden;
    color: #9069A7;
}
#mensajeDestacado {
    background-color: white;
    padding: 20px;
}
#mensajeDestacado h2 {
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #9069A7;
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
}

/* Productos Destacados Home */

.productoHome a {
    text-decoration: none;
}
.imgProductHome img {
    max-width: 100%;
}
.productDescriptionHome {
    font-family: 'Lato', sans-serif;
    background-color: #E9D4E4;
    margin-bottom: 5px;
    height: 100px;
}
.productDescriptionHome h3, p {
    margin: 0;
    padding: 5px;
}
.productDescriptionHome h3{
    font-weight: lighter;
    color: #9069A7;
    text-transform: uppercase;
}
.productDescriptionHome p{
    color: white;
    text-shadow: black;
}

/* Links de edicion de productos */

.productEdit {
    display: flex;
}
@media (max-width: 800px) {
    .Navbar a {
        display: inline;
    }
    .Navbar_Items {
        display: none;
        text-align: center;
    }
    .Navbar_ToggleShow {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translateY(100%);
        background:white;
        z-index: 100;
    }
    .Navbar_Link a {
        text-align: right;
    }
    .Navbar_Toggle {
        display: initial;
        justify-self: flex-end;
        align-self: center;
        cursor: pointer;
    }
}

/* Footer */
.alto{
    min-height: calc(100vh - 162px);
}
.page-footer{
    font-family: 'Lato', sans-serif;
    background-color: white;
    margin-top: 15px;
    height: 55px;
}
.footer-info{
    font-weight: 300;
    color: #9069A7;
    font-family: 'Lato', sans-serif;
    text-align: right;
    line-height: 55px;
    padding-top: 0px;
}
.footer-copyright{
    background-color: #8ecac0;
    text-align: center;
    color: white;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    height: 28px;
}
.links{
    text-align: center;
    color: white;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}
.spaces{
    padding: 15px;
}
.social-media{
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0px;
    height: 55px;
}
@media (max-width: 764px){
    .social-media{
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        align-items: center;
        height: 55px;
    }
    .footer-info{
        text-align: center;
        line-height: normal;
    }
    .page-footer{
        height: 110px;
        padding-bottom: 10px;
    }
}
.back{
    background-color: #ffffffc9;
    margin: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.estilo1{
    text-align: left;
}
