* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

header {
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
}

.logo {
  position: absolute;
  height: 8%;
  padding-left: 25%;

}

body
{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #cdcdcd;
  font-family: 'Lato', sans-serif;
}


#menuToggle
{
  display: inline-block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #9069A7;

  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #E9D4E4;
}


#menuToggle input
{
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 16px;
  left: 21px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/* Hamburger */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #E9D4E4;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #E9D4E4;
}

/*
 * Hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  padding-bottom: 320px;

  background: #ffffff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/* Left slide */
#menuToggle input:checked ~ ul
{
  transform: none;
}

.fondo-buscador img {
  display: block;
  width: 100vw;
  }