<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/fontawesome-all.css">
    <link rel="stylesheet" href="/css/contactcss.css">
    <link rel="stylesheet" href="/css/spa.css">
</head>
<body>
    <%- include('./partials/headerNav')%>
<div class="container alto">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 fondo1">
        <p class="textoP">Nirvana Spa es un Spa Urbano de Salud, Placer y Belleza.
        </p>
        <p class="textoP">Déjese seducir y transportar a través de la música, las terapias, los aromas evocando y elevando su espíritu al estado supremo de liberación de todas las ataduras, la absoluta tranquilidad, la serenidad sin límites.
        </p>
        <p class="textoP">La misión de Nirvana Spa es cambiar el estado de ánimo trabajando lo físico para liberar energía negativa, recuperando un tiempo para ustedes mismos, con programas que incluyen estética no invasiva y nuestros rituales Spa.
        </p>
        <p class="textoP">Ofrecemos un espacio ideal para recuperar la armonía entre el cuerpo y el alma. En nuestro centro podrá disfrutar y experimentar sensaciones únicas como también despertar y agudizar hasta los sentidos más dormidos.
        </p>
        <p class="textoP">Contamos con un equipo de profesionales que en todo momento estarán a su disposición para brindarle la mejor atención y servicio personalizado. Superar sus expectativas es nuestro deseo desde todos los que trabajamos en el Spa.
        </p>
    </div>
    <div class="row space1">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 picDetail">
            <img src="/images/other/front-desk.jpg" width="100%">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 fondo">
            <h2 class="textoProd">Conócenos</h2>
            <div class="row">
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <img src="/images/other/building.svg" width="30px">
                </div>
                <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 textoProd1">
                    <p>Lima 1111, CABA, Argentina</p>
                </div>
            </div>
            <div class="row">
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <img src="/images/other/clock.svg" width="30px">
                </div>
                <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 textoProd1">
                    <p>Lunes a sábados: 11:00hs. - 19:00hs.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <img src="/images/other/phone.svg" width="30px">
                </div>
                <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 textoProd1">
                    <p>+54 9 11 4444-5555</p>
                </div>
            </div>
            <div class="row">
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <img src="/images/other/mail.svg" width="30px">
                </div>
                <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 textoProd1">
                    <p>nirvana.spa.bsas@gmail.com</p>
                </div>
            </div>
            <div class="row space">
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <a class="space" href="https://facebook.com/nirvana_spa">
                    <img src="/images/other/facebook.svg" width="30px">
                    </a>
                </div>
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <a class="space" href="https://instagram.com/nirvana_spa">
                    <img src="/images/other/instagram.svg" width="30px">
                    </a>
                </div>
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <a class="space" href="https://twitter.com/nirvana_spa">
                    <img src="/images/other/twitter.svg" width="30px">
                    </a>
                </div>
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <a class="space" href="https://pinterest.com/nirvana_spa">
                    <img src="/images/other/pinterest.svg" width="30px">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
    <!--Footer-->
    <%- include('./partials/footer')%>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>