<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Spa Nirvana</title>
	<link rel="stylesheet" href="/css/spa.css">
</head>
<body>

<!--Header-->
	<header>
		<a href="#Home"><img class="logo" src="/images/Logo Spa color.png" alt="Home"/></a>
		<nav>
			<a href="#Servicios">Servicios</a>
			<a href="#Contacto">Contacto</a>
		</nav>
	</header>

<!--Home-->

</body>
</html>