<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>

    
    
    <link rel="stylesheet" href="/css/navBar.css">    
    <link rel="stylesheet" href="/css/fontawesome-all.css">

</head>

    <body style= 'background-color: lightcoral'>
        <%- include('./partials/headerNav')%>

        <div class='mainContainer'>
            <div class='brandContainer'>
            <div class='logoClaim'>
                <img src='/images/Logotipo color.png'>
                <p>Tratamientos únicos para tu cuerpo y tus sentidos</p>
            </div>
            <div id='searchBarHome'>
            <form action="" method="GET">
                <input type="text" name='homeSearch'>
                <button id='searchIcon' type="submit">
                    <i class="fa fa-search"></i>
                    </button>
            </form>
            </div>
            </div>
        </div>










    </body>
    
