<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:300&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/navBar.css">    
    <link rel="stylesheet" href="/css/fontawesome-all.css">

    


</head>



    <body style= 'background-color: lightcoral'>
        <header class='Navbar'>
            
                <div class='Navbar_Link Navbar_Logo'>
                    <a href="/index"><img src="/images/IsoLogo Color.png"/></a>
                </div>

                <div class="Navbar_Link Navbar_Toggle">
                    <i class="fa fa-bars"></i>
                    
                </div>

                </div>
                    <nav class='Navbar_Items'>
                        <div class='Navbar_Link'>
                        <a href='/productDetail'>Servicios</a>

                        </div>
                        <div class='Navbar_Link'>
                        <a href='productAdd'>Administrar</a>

                        </div>
                        <div class='Navbar_Link'>
                        <a href='/register'>Ingresar</a>

                        </div>
                        <div class='Navbar_Link'>
                        <a href='/productCart'><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a>

                        </div>
                    </nav>
            
    
        </header>
        
    
    </body>
    
