<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Agregar Producto</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/fontawesome-all.css">
	<link rel="stylesheet" href="/css/productAddcss.css">
	<link rel="stylesheet" href="/css/spa.css">
</head>
<body>
	<%- include('./partials/headerNav')%>
	
	<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<h1>Nuevo Servicio</h1>
	</div>
	<div class="container">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 marco">
					<h3>Insertar imagen</h3>
				</div>
				<div class="col">
					<div class="row">
						<div class="col-10">
							<input type="text" class="form-control is-invalid" placeholder="Título">
							<div class="invalid-feedback">
								Por favor ingrese un texto válido
							</div>
						</div>
						<div class="col-2">
							<img src="/images/plus.svg" width="30px">
						</div>
					</div>
					<div class="col-12" id="textsize">
						<input type="text" class="form-control is-invalid" placeholder="Descripción">
						<div class="invalid-feedback">
							Por favor ingrese un texto válido
						</div>
					</div>
					<div class="col-12">
						<input type="text" class="form-control is-invalid" placeholder="Precio">
						<div class="invalid-feedback">
							Por favor ingrese un valor válido
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
					<div class="row">
						<div class="col-2">
							<img src="images/user-2.svg" width="30px">
						</div>
						<div class="col-10">
							<input type="text" class="form-control is-invalid" placeholder="Nombre">
							<div class="invalid-feedback">
								Por favor ingrese un nombre válido
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-2">
							<img src="images/user-2.svg" width="30px">
						</div>
						<div class="col-10">
							<input type="text" class="form-control is-invalid" placeholder="Nombre">
							<div class="invalid-feedback">
								Por favor ingrese un nombre válido
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-2">
							<img src="images/user-2.svg" width="30px">
						</div>
						<div class="col-10">
							<input type="text" class="form-control is-invalid" placeholder="Nombre">
							<div class="invalid-feedback">
								Por favor ingrese un nombre válido
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 defaultCheck1">
					<div class="row">
						<div class="col-4 defaultCheck1">
							<h6>Días</h6>
						</div>
						<div class="col-4 defaultCheck1">
							<h6>Cant. turnos</h6>
						</div>
						<div class="col-4 defaultCheck1">
							<h6>Primer turno</h6>
						</div>
					</div>
					<div class="row">
						<div class="col-4 defaultCheck1">
							<div class="form-check">
								<input class="form-check-input defaultCheck1" type="checkbox">
								<label class="form-check-label" for="defaultCheck1">
									Lun
								</label>
							</div>
						</div>
						<div class="col-4 defaultCheck1">
							<h6 id="defaultCheck1">4  ▾</h6>
						</div>
						<div class="col-4 defaultCheck1">
							<h6 id="defaultCheck1">11:00  ▾</h6>
						</div>
					</div>
					<div class="row">
						<div class="col-4 defaultCheck1">
							<div class="form-check">
								<input class="form-check-input defaultCheck1" type="checkbox">
								<label class="form-check-label" for="defaultCheck1">
									Mar
								</label>
							</div>
						</div>
						<div class="col-4 defaultCheck1">
							<h6 id="defaultCheck1">0  ▾</h6>
						</div>
						<div class="col-4 defaultCheck1">
							<h6 id="defaultCheck1">00:00  ▾</h6>
						</div>
					</div>
					<div class="row">
						<div class="col-4 defaultCheck1">
							<div class="form-check">
								<input class="form-check-input defaultCheck1" type="checkbox">
								<label class="form-check-label" for="defaultCheck1">
									Mie
								</label>
							</div>
						</div>
						<div class="col-4 defaultCheck1">
							<h6 id="defaultCheck1">5  ▾</h6>
						</div>
						<div class="col-4 defaultCheck1">
							<h6 id="defaultCheck1">10:00  ▾</h6>
						</div>
					</div>
					<div class="row">
						<div class="col-4 defaultCheck1">
							<div class="form-check">
								<input class="form-check-input defaultCheck1" type="checkbox">
								<label class="form-check-label" for="defaultCheck1">
									Jue
								</label>
							</div>
						</div>
						<div class="col-4 defaultCheck1">
							<h6 id="defaultCheck1">7  ▾</h6>
						</div>
						<div class="col-4 defaultCheck1">
							<h6 id="defaultCheck1">12:00  ▾</h6>
						</div>
					</div>
					<div class="row">
						<div class="col-4 defaultCheck1">
							<div class="form-check">
								<input class="form-check-input defaultCheck1" type="checkbox">
								<label class="form-check-label" for="defaultCheck1">
									Vie
								</label>
							</div>
						</div>
						<div class="col-4 defaultCheck1">
							<h6 id="defaultCheck1">0  ▾</h6>
						</div>
						<div class="col-4 defaultCheck1">
							<h6 id="defaultCheck1">00:00  ▾</h6>
						</div>
					</div>
					<div class="row">
						<div class="col-4 defaultCheck1">
							<div class="form-check">
								<input class="form-check-input defaultCheck1" type="checkbox">
								<label class="form-check-label" for="defaultCheck1">
									Sáb
								</label>
							</div>
						</div>
						<div class="col-4 defaultCheck1">
							<h6 id="defaultCheck1">10  ▾</h6>
						</div>
						<div class="col-4 defaultCheck1">
							<h6 id="defaultCheck1">10:00  ▾</h6>
						</div>
					</div>
				</div>
			</div>
	</div>



</body>
</html>