<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/fontawesome-all.css">
    
</head>
<body style= 'background-color: lightcoral'>
    <header class='navibar container-fluid'>
        <ul class='row align-items-center'>
            <li class='col-md-3'><a href="/index"><img src="/images/IsoLogo Color.png"/></a></li>
            <li class='col-md-2'><a href='/productDetail'>Servicios</a></li>
            <li class='col-md-2'><a href='productAdd'>Administrar</a></li>
            <li class='col-md-2'><a href='/register'>Ingresar</a></li>
            <li class='col-md-2'><a href='/productCart'><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a></li>
        </ul>

    </header>

</body>
</html>