<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>De pies a cabeza</title>
    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/nav.css">
</head>
<body style= 'background-color: lightcoral'>
    <nav class='navbar container'>
        <ul class='row align-items-start'>
            <li class='col-md-4'>Home</li>
            <li class='col-md-3'>Servicios</li>
            <li class='col-md-3'>Contacto</li>
            <li class='col-md-1'>User</li>
            <li class='col-md-1'>Carrito</li>
        </ul>

    </nav>

</body>
</html>