<!-- Footer -->
<footer class="page-footer">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
        <!-- Grid row -->
        <div class="row page-footer">
            <div class="social-media col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="row">
                    <a class="spaces" href="https://facebook.com/nirvana_spa">
                        <img src="/images/other/facebook.svg" width="20px">
                    </a>
                    <a class="spaces" href="https://instagram.com/nirvana_spa">
                        <img src="/images/other/instagram.svg" width="20px">
                    </a>
                    <a class="spaces" href="https://twitter.com/nirvana_spa">
                        <img src="/images/other/twitter.svg" width="20px">
                    </a>
                    <a class="spaces" href="https://pinterest.com/nirvana_spa">
                        <img src="/images/other/pinterest.svg" width="20px">
                    </a>
                </div>
            </div>
            <!-- Grid column -->
            <div class="footer-info col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                <!-- Content -->
                <p>Tratamientos únicos para tu cuerpo y tus sentidos.</p>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright">© 2020 Copyright:
        <a class="links" href="https://SpaNirvana.com/"> SpaNirvana.com</a>
    </div>
</footer>