<header class='Navbar'>
            
    <div class='Navbar_Link Navbar_Logo'>
        <a href="/index"><img src="/images/IsoLogo Color.png"/></a>
    </div>

    <div class="Navbar_Link Navbar_Toggle">
        <i class="fa fa-bars"></i>
        
    </div>

    </div>
        <nav class='Navbar_Items'>
            <div class='Navbar_Link'>
            <a href='/productList'>Servicios</a>

            </div>
            <div class='Navbar_Link'>
            <a href='productAdd'>Administrar</a>

            </div>
            <div class='Navbar_Link'>
            <a href='/register'>Registrarse</a>

            </div>

            <div class='Navbar_Link'>
                <a href='/contact'>Contacto</a>
    
                </div>
            <div class='Navbar_Link'>
            <a href='/productCart'><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a>

            </div>
        </nav>


</header>

<script>
function classToggle() {
const navs = document.querySelectorAll('.Navbar_Items')

navs.forEach(nav => nav.classList.toggle('Navbar_ToggleShow'));
}

document.querySelector('.Navbar_Toggle')
.addEventListener('click', classToggle);
</script>