<header class='Navbar'>
            
    <div class='Navbar_Link Navbar_Logo'>
        <a href="/index"><img src="/images/IsoLogo Color.png"/></a>
    </div>

    <div class="Navbar_Link Navbar_Toggle">
        <i class="fa fa-bars"></i>
        
    </div>

    </div>
        <nav class='Navbar_Items'>
            <div class='Navbar_Link'>
            <a href='/productDetail'>Servicios</a>

            </div>
            <div class='Navbar_Link'>
            <a href='productAdd'>Administrar</a>

            </div>
            <div class='Navbar_Link'>
            <a href='/register'>Ingresar</a>

            </div>
            <div class='Navbar_Link'>
            <a href='/productCart'><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a>

            </div>
        </nav>


</header>