<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title>Spa Nirvana</title>
	<link rel="stylesheet" href="/css/spa.css">
</head>
<body>

<!--Header-->
<!--Header-->
	<header>
		<nav role="navigation">
			<div id="menuToggle">
				<input type="checkbox" />
				<span></span>
				<span></span>
				<span></span>
				<ul id="menu">
					<a href="#"><li>Home</li></a>
					<a href="#Servicios"><li>Servicios</li></a>
					<a href="#Contacto"><li>Contacto</li></a>
				</ul>
			</div>
		</nav>
		<div><a href="#Home"><img class="logo" src="/images/Logo Spa color.png" alt="Home"/></a></div>
	</header>

<!--Home-->

	<div class="container">
		<div class="fondo-buscador"><img src="/images/381817-PBREP8-572.jpg" alt="Fondo de Buscador"/>
		</div>
	</div>


</body>
</html>