<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/testNavBar.css' />
    <script src="https://kit.fontawesome.com/14cc9117fe.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="Navbar">
      <div class="Navbar__Link Navbar__Link-brand">
         Website title
       </div>
       <div class="Navbar__Link Navbar__Link-toggle">
         <i class="fas fa-bars"></i>
       </div>
     <nav class="Navbar__Items">
       <div class="Navbar__Link">
         Longer Link
       </div>
       <div class="Navbar__Link">
         Longer Link
       </div>
       <div class="Navbar__Link">
         Link
       </div>
     </nav>
     <nav class="Navbar__Items Navbar__Items--right">
       <div class="Navbar__Link">
         Link
       </div>
       <div class="Navbar__Link">
         Link
       </div>
     </nav>
   </div>

   <script>
     function classToggle() {
  const navs = document.querySelectorAll('.Navbar__Items')
  
  navs.forEach(nav => nav.classList.toggle('Navbar__ToggleShow'));
}

document.querySelector('.Navbar__Link-toggle')
  .addEventListener('click', classToggle);
   </script>
  </body>
</html>
